@media (max-width: 1399px) {
  .feedback-list--video .feedback-item {
    margin-bottom: 2rem;
  }
}
.feedback-list--video .feedback-item .content {
  padding: 2rem;
}
@media (max-width: 1799px) {
  .feedback-list--video .feedback-item .content {
    padding: 1.5rem;
  }
}
.feedback-list--video .feedback-item-video-wrapper {
  position: relative;
}
.feedback-list--video .feedback-item-video-wrapper video {
  height: 290px;
}
@media (max-width: 1920px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 230px;
  }
}
@media (max-width: 1799px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 200px;
  }
}
@media (max-width: 1599px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 190px;
  }
}
@media (max-width: 1499px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 180px;
  }
}
@media (max-width: 1399px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 260px;
  }
}
@media (max-width: 991px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 165px;
  }
}
@media (max-width: 767px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 265px;
  }
}
@media (max-width: 575px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 250px;
  }
}
@media (max-width: 449px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 210px;
  }
}
@media (max-width: 399px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 185px;
  }
}
@media (max-width: 380px) {
  .feedback-list--video .feedback-item-video-wrapper video {
    height: 165px;
  }
}
.feedback-list--video .feedback-item-video-text {
  font-size: 0.9rem;
}
.feedback-list--video .feedback-item-video-text p:last-child {
  margin-bottom: 0;
}
.feedback-list--video .feedback-item-video-poster {
  position: absolute;
  z-index: 7;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.feedback-list--video .feedback-item-video-poster > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feedback-list--video .feedback-item-video-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
}
.feedback-list--video .feedback-item-video-button:hover .round {
  transform: scale(0.95);
  transition: 0.2s linear;
}
.feedback-list--video .feedback-item-video-button:hover .button {
  transform: scale(1.25);
  transition: 0.2s linear;
}
.feedback-list--video .feedback-item-video-button .round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: 0.2s linear;
}
@media (max-width: 991px) {
  .feedback-list--video .feedback-item-video-button .round {
    width: 95px;
    height: 95px;
  }
}
.feedback-list--video .feedback-item-video-button .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: 0.2s linear;
  position: relative;
}
@media (max-width: 991px) {
  .feedback-list--video .feedback-item-video-button .button {
    width: 55px;
    height: 55px;
  }
}
.feedback-list--video .feedback-item-video-button .button::before {
  position: absolute;
  display: block;
  content: "";
  width: 20px;
  height: 30px;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #2e97d8;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
  .feedback-list--video .feedback-item-video-button .button::before {
    width: 15px;
    height: 20px;
    border-width: 10px 0 10px 13px;
  }
}
.feedback-list--video .feedback-item-video-text {
  margin-top: 1rem;
}
/*# sourceMappingURL=base-video.css.map */