:root {
    --light: rgb(255, 252, 241);
    --dark: #433F3D;
    --grey: #F5F5F5;
    --yellow: #F5BD02;
    --sidebar-xl-width: 100px;
    --sidebar-lg-width: 75px;
    --sidebar-md-width: 55px;
    --sidebar-sm-width: 45px;
    --sidebar-sm-padding: 60px;
}